@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
* {
    margin : 0;
    padding : 0;
    font-family: 'Poppins', sans-serif;
    color : rgb(48, 46, 135);
}
header {
    background-color : rgb(48, 46, 135);
    margin-bottom: 30px;
}
body{
    background-color : rgb(255, 232, 214);
}

h1{
    text-align: center;
    margin-bottom: 20px;
    color : white;
}
.container-input{
    display : flex;
    justify-content: center;
    
}
input {
    text-align: center;
    margin: auto;
    width : 500px;
    border-radius: 10px;
    border-color: black ;
    height : 20px;
}
.btn{
    display: flex;
    justify-content: center;
    padding : 40px;
}
button {
    width : 90px;
    height : 40px;
    background-color: rgb(161, 217, 245);
    border : 1px solid black;
    border-radius: 15px;
    margin : 10px;
    font-size: 20px;
    font-style: bold;  
}
.btn-link{
    font-size : 14px;
    width : 100px;
    height : 35px;
    margin : 5px;
    border-radius: 20px;
}
button:hover{
    background-color: blue;
    color : white;
}
.card{
    border-radius : 15px;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 40px;
    background-color : rgb(255, 255, 255);
    width : 80%;
    box-shadow: rgba(167, 26, 23, 0.35) 0px 5px 15px;
}
.cardTitle{
    text-align: center;
    margin: auto;
}
.block{
    margin : 30px;
}
.linkCard form{
    text-align: end;
    float: inline-start;
    margin-top : 20px;
}
.linkCard button {
   float: inline-end;
   margin-bottom : auto;
}
.pubCard{
    font-size : 14px;
    font-style: italic;
}
footer {
    background-color: rgb(48, 46, 135);
    padding : 20px;
}
.footer a{
    color: white;
}
h3 {
    color : white;
}
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.suggest1 {
    margin-right : 20px;
    margin-left : 20px; 
}
.suggest2 {
    margin-right : 20px;
    margin-left : 20px; 
}
.suggest3 {
    margin-right : 20px;
    margin-left : 20px; 
}
a:hover{
    color :red;
}
.errorMessage {
    text-align: center;
    color : red;
    margin : auto;
}